body {
    background-image: url("images/bg.jpg");
    background-size: cover;
    /* Makes the image cover the whole page */
    background-repeat: no-repeat;
    /* Prevents repeating */
    background-position: center;
    /* Centers the image */
    background-attachment: fixed;
    /* Makes the image stay while scrolling */
}