.block-bg {
    /*background-color: #e3f2fd;*/
    padding: auto;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    /* white with 70% opacity */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* optional: subtle shadow */
}